* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: #503e7f;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.logo img {
    margin-top: 5px;
    margin-left: 40px;
    width: 200px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 70px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-right: 400px;
}

a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home {
    background-image: url(img/background.jpg);
    background-size: cover;
    }

.home h1 {
    padding-top: 15%;
    display: flex;
    font-size: 80px;
    text-align: center;
    justify-content: center;
}

.home h2 {
    padding-top: 6%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
}

.home h3 {
    padding-top: 20%;
    font-size: 50px;
    display: flex;
    text-align: center;
    justify-content: center;

}

.Counterattack {
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-content: center;   
    
    gap: 100px;
}

.LinkClink img{
   display: flex;
    width: 20px;
    
}





footer {
    align-items: center;
    text-align: center;
}
