* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: #503e7f;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.logo img {
    margin-top: 5px;
    margin-left: 40px;
    width: 200px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 70px;
    font-weight: bold;
    font-size: 19px;
    color: white;
    margin-right: 400px;
}

a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home {
    background-image: url(img/background.jpg);
    background-size: cover;
    }

.home h1 {
    padding-top: 15%;
    display: flex;
    font-size: 80px;
    text-align: center;
    justify-content: center;
}

.home h2 {
    padding-top: 6%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
}

.home h3 {
    padding-top: 20%;
    font-size: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
}

.coming-soon {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.coming-soon img {
    width: 300px;
    height: auto;    
}

.coming-soon h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}

.aboutus {
    background-image: url(img/bookshop.jpg);
    background-size: cover;
}
.aboutus h1 {
    padding-top: 10%;
    text-align: center;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

.aboutus h2{
    padding: 70px 250px 150px 250px;
    text-align: center;   
}

.products {
    background-color: cornflowerblue;
}

.products h1 {
    padding-top: 80px;
    font-weight: bold;
    font-size: 40px;
    font-family: monospace;
    color: brown;
}

.books {    
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
      
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 60px;
}

.books img {
    width: 300px;
    max-width: 1200px;
}

.products p {
    font-size: larger;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact {
    padding: 100px;
    background-color: #5ec8d7;
}

.contact h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkmagenta;
}
.contact h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslategray;
}

.contact img {
    display: block;
    max-width: 100%;
    width: 400px;
    height: auto;    
    margin-bottom: 20px;
}

.contact a {
    color: blue;
}

footer {
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: pink;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

